<div id="countryshow"> <!-- KEEP ME HERE -->
  <%= image_tag @image, class: 'countrybackgroundimage' %>
  <% if @countryname %>
    <div class="countryname"> <%= @countryname %> </div>
  <% end %>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Time & Weather</h3>
        </div>
        <div class="panel-body">
          <% c = TZInfo::Country.get(@country) %>
          <% czone = c.zone_identifiers.first %>
          <% Time.zone = czone %>
          <h4 class="thetime"><%= Time.zone.now.strftime("%I:%M%p") %></h4>
          <%= Time.zone.now.strftime("%A") %>, <%= Time.zone.now.strftime("%b #{Time.zone.now.day.ordinalize} %Y") %>
          <br/><br/>
          <% if @weather %>
          Temp: 
            <strong><%= @weather.condition.temp %> <%= @weather.units.temperature %></strong>
          <br/>
          Conditions: 
          <strong><%= @weather.condition.code('string') %></strong>
          <% else %>
            Weather not available
          <% end %>
          <br/>
          Region: <strong><%= @countrysubregion %></strong>
          <br/>
          <% if language(@country).present? %>
            Language: <strong> <%=language(@country)%></strong>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>News</h3>
        </div>
        <div class="panel-body news-panel">
        <% @title_count.times.each do |num| %>
          <a href="<%= @page.css('url')[num].text %>" target="_blank"><%= @page.css("title")[num].text %></a><br><br>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Events</h3>
        </div>
        <div class="panel-body">
          events list goes here
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Currency rates</h3>
        </div>
        <div class="panel-body">
          $1 = <%= @currencysymbol %><%= @currencyconverted1 %> <%= @currencyname %>
          <br/>
          $10 = <%= @currencysymbol %><%= @currencyconverted10 %> <%= @currencyname %>
          <br/>
          $100 = <%= @currencysymbol %><%= @currencyconverted100 %> <%= @currencyname %>
          <br/>
          $1000 = <%= @currencysymbol %><%= @currencyconverted1000 %> <%= @currencyname %>
        </div>
      </div>
    </div>
  </div>
</div> <!-- KEEP ME HERE -->