<!DOCTYPE html>
<html>
<head>
  <title>World Spotlight</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <video autoplay loop poster="assets/clouds.jpg" id="bgvid">
    <source src="assets/clouds-bg.mp4" type="video/mp4">
  </video>

  <main>
    <%= render partial: 'layouts/header' %>
    <%= yield %>
  </main>
</body>
</html>
